In [17]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_csv(r"https://raw.githubusercontent.com/meleshko-anastasiia/DZ/refs/heads/main/marketing_AB.csv")
df

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14
...,...,...,...,...,...,...,...
588096,588096,1278437,ad,False,1,Tuesday,23
588097,588097,1327975,ad,False,1,Tuesday,23
588098,588098,1038442,ad,False,3,Tuesday,23
588099,588099,1496395,ad,False,1,Tuesday,23
588100,588100,1237779,ad,False,1,Tuesday,23

In [5]:
#1.Основная задача – проанализировать группы клиентов и ответить на вопрос, какой тип рекламы был успешнее

In [19]:
df.drop(columns = ['Unnamed: 0', 'user id'], inplace = True)
df

       test group  converted  total ads most ads day  most ads hour
0              ad      False        130       Monday             20
1              ad      False         93      Tuesday             22
2              ad      False         21      Tuesday             18
3              ad      False        355      Tuesday             10
4              ad      False        276       Friday             14
...           ...        ...        ...          ...            ...
588096         ad      False          1      Tuesday             23
588097         ad      False          1      Tuesday             23
588098         ad      False          3      Tuesday             23
588099         ad      False          1      Tuesday             23
588100         ad      False          1      Tuesday             23

[588101 rows x 5 columns]

In [20]:
df.head(10)

  test group  converted  total ads most ads day  most ads hour
0         ad      False        130       Monday             20
1         ad      False         93      Tuesday             22
2         ad      False         21      Tuesday             18
3         ad      False        355      Tuesday             10
4         ad      False        276       Friday             14
5         ad      False        734     Saturday             10
6         ad      False        264    Wednesday             13
7         ad      False         17       Sunday             18
8         ad      False         21      Tuesday             19
9         ad      False        142       Monday             14

In [21]:
df.shape

(588101, 5)

In [22]:
df.dtypes

test group       object
converted          bool
total ads         int64
most ads day     object
most ads hour     int64
dtype: object

In [23]:
df.isna().sum()

test group       0
converted        0
total ads        0
most ads day     0
most ads hour    0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   test group     588101 non-null  object
 1   converted      588101 non-null  bool
 2   total ads      588101 non-null  int64
 3   most ads day   588101 non-null  object
 4   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(2), object(2)
memory usage: 18.5+ MB

In [25]:
df.describe().T

                  count       mean        std  min   25%   50%   75%     max
total ads      588101.0  24.820876  43.715181  1.0   4.0  13.0  27.0  2065.0
most ads hour  588101.0  14.469061   4.834634  0.0  11.0  14.0  18.0    23.0

In [26]:
print("Test Group:", df['test group'].unique())
print("Most Ads Day:", df['most ads day'].unique())
print("Converted:", df['converted'].unique())

Test Group: ['ad' 'psa']
Most Ads Day: ['Monday' 'Tuesday' 'Friday' 'Saturday' 'Wednesday' 'Sunday' 'Thursday']
Converted: [False  True]

In [28]:
df['converted'] = df['converted'].astype(int)
df.dtypes

test group       object
converted         int32
total ads         int64
most ads day     object
most ads hour     int64
dtype: object

In [29]:
control_group = df[df['test group'] == 'psa']
test_group = df[df['test group'] == 'ad']

t_stat, p_val = stats.ttest_ind(test_group['converted'], control_group['converted'])
print(f"Test Group Analysis - T-statistic: {t_stat}, P-value: {p_val}")

Test Group Analysis - T-statistic: 7.37040597428566, P-value: 1.7033052627831264e-13

In [30]:
if p_val < 0.05:
    print("Reject the null hypothesis: There is a significant difference in conversion rates between the 'ad' and 'psa' groups.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in conversion rates between the 'ad' and 'psa' groups.")

Reject the null hypothesis: There is a significant difference in conversion rates between the 'ad' and 'psa' groups.

In [14]:
df.nunique()

Unnamed: 0       588101
user id          588101
test group            2
converted             2
total ads           807
most ads day          7
most ads hour        24
dtype: int64

In [10]:
df['converted'].unique()

array([False,  True])

In [12]:
df['test group'].unique()

array(['ad', 'psa'], dtype=object)

In [15]:
health_status_counts = df['test group'].value_counts()
health_status_counts

test group
ad     564577
psa     23524
Name: count, dtype: int64

In [16]:
health_status_counts = df['converted'].value_counts()
health_status_counts

converted
False    573258
True      14843
Name: count, dtype: int64

In [ ]:
#2.Вы можете воспользоваться дополнительными переменными, характеризующими клиента для поиска гетерогенных эффектов от рекламы

In [ ]:
#3.Помните, что любой вывод об эффективности / неэффективности должен быть подтвержден статистическим тестом!